.homePage {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 100%;
  padding: 20px 30px;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  height: 100%;
  width: 100%;
}

.cardRow {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
  height: 60vh;
  overflow: scroll;
  width: 80%;
}

.orderColumn {
  height: 60vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  overflow-y: scroll;
}

.layouttitle {
  font-size: 24px;
  font-weight: 800;
}

.graphRow {
  color: #03c9878d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  flex-wrap: wrap;
  height: 60vh;
  width: 100%;
}

.tableRow {
  padding: 30px;
}

@media (max-width: 650px) {
  .row {
    flex-direction: column;
    gap: 16px;
  }
  .cardRow {
    width: 100%;
  }
}
